
@media only screen and (min-width: 300px) and (max-width: 350px) {
    /* 500*/
    body{
        position: relative;
        left: 3.5%;
        zoom: 22%;
    }
    }

@media only screen and (min-width: 350px) and (max-width: 510px) {
    /* 400*/
    body{
        position: relative;
        left: 4.3%;
        zoom: 27%;
    }
    }

@media only screen and (min-width: 510px) and (max-width: 610px) {
    /* 300*/
    body{
        position: relative;
        left: 5.5%;
        zoom: 35%;
    }
    }



@media only screen and (min-width: 610px) and (max-width: 760px) {
    /* 250*/
    body{
        position: relative;
        left: 5.5%;
        zoom: 42%;
    }
    }


@media only screen and (min-width: 760px) and (max-width: 870px) {
    /* 200*/
    body{
        position: relative;
        left: 6%;
        zoom: 52%;
    }
    }

@media only screen and (min-width: 870px) and (max-width: 1020px) {
    /* 175*/
    body{
        position: relative;
        left: 6.5%;
        zoom: 59%;
    }
    }


@media only screen and (min-width: 1020px) and (max-width: 1220px) {
    /* 150*/
    body{
        position: relative;
        left: 5.8%;
        zoom: 70%;
    }
    }


@media only screen and (min-width: 1220px) and (max-width: 1390px) {
    /* 125*/
    body{
        position: relative;
        left: 6%;
        /* zoom: 81%; */
        zoom: 83%;
    }
    }
     
    @media only screen and (min-width: 1390px) and (max-width: 1440px) {
    /*110*/
    body{
        position: relative;
        left: 7%;
        zoom: 93%;
    
    }
    }
    
    @media only screen and (min-width: 1440px) and (max-width: 1600px) {
    /* @-ms-viewport { width: 1024px; } */
    /* 100% */
    body{
        position: relative;
        left: 8%;
        
    }
    }
    @media only screen and (min-width: 1600px) and (max-width: 1800px) {
        /* 90% */
        body{
            position: relative;
            left: 8%;
            zoom: 110%;
        }
        }
    
    @media only screen and (min-width: 1800px) and (max-width: 2000px) {
    /*  80% */
    body{
        position: relative;
        left: 9%;
        zoom: 123%;

    }
    }

    @media only screen and (min-width: 2000px) and (max-width: 2200px) {
        /* 75% */
        body{
            position: relative;
            left: 9%;
            zoom: 130%;
    
        }
        
    }
    @media only screen and (min-width: 2200px) and (max-width: 2400px) {
        /* 67% */
        body{
            position: relative;
            left: 9.3%;
            zoom: 145%;
    
        }
    }
    @media only screen and (min-width: 2400px) and (max-width: 3100px) {
        /* 50% */
        body{
            position: relative;
            left: 10%;
            zoom: 190%;
    
        }
    }
    @media only screen and (min-width: 3100px) and (max-width: 4700px) {
        /* 33% */
        body{
            position: relative;
            left: 10.2%;
            zoom: 280%;
    
        }
    }
    @media only screen and (min-width: 4700px){
        /* 25% */
        body{
            position: relative;
            left: 11%;
            zoom: 370%;
    
        }
    }

#sifah {
    /* Rectangle 1 */
    position: absolute;
    width: 1280px;
    height: 363px;
    left: 0px;
    top: 0px;

    background: #2a9d8f;
}
#regis {
    /* Component 2 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 886px;
    top: 38px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1a3244;
    border: 0px;
    background: #FFEB85;
    border-radius: 20px;
}
#signin {
    /* Component 3 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 1067px;
    top: 38px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1a3244;
    border: 0px;


    background: #FFEB85;
    border-radius: 20px;
}
#yellow {
    /* Rectangle 10 */
    position: absolute;
    width: 1201px;
    height: 500px;
    left: 42px;
    top: 380px;

    background: #FFEB85;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#logo {
    position: relative;
    left: 25px;
    top: 20px;
    width: auto;
    height: 100px;
    cursor: pointer;
}

#search {
    /* Find your next stay... */
    position: absolute;
    width: 650px;
    height: 96px;
    left: 58px;
    top: 179px;
    cursor: context-menu;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;

    color: #FFFFFF;
}

#whereareyougoing {
    position: absolute;
    width: 451px;
    height: 88px;
    left: 75px;
    top: 317px;
}

#w {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 7.95%;
    bottom: 6.82%;
    padding-left: 24.83%;
    background: #FFFFFF;
    border-radius: 7px;
    border: 0px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;

    color: #1a3244;
}

#w::placeholder {
    position: absolute;
    left: 24.83%;
    right: 4%;
    top: 34.09%;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;

    color: #1a3244bd;
}

#calendar {
    position: absolute;
    width: 302px;
    height: 75px;
    left: 564px;
    top: 324px;

    background: #FFFFFF;
    border-radius: 7px;
}

#guest {
    position: absolute;
    width: 302px;
    height: 75px;
    left: 903px;
    top: 324px;
    background: #FFFFFF;
    border-radius: 7px;
}

#people {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 7.95%;
    bottom: 6.82%;

    padding-left: 30%;

    background: #FFFFFF;
    border-radius: 7px;
    border: 0px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;

    color: #1a3244;
}

#people::placeholder {
    position: absolute;
    left: 30%;
    top: 33.00%;


    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;

    color: #1a3244bd;
}

#pum {
    position: relative;
    width: 160px;
    height: 50px;
    left: -150px;
    top: 900px;
    background: #2a9d8f;
    border-radius: 35px;
    

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 650;
    font-size: 30px;
    line-height: 60px;
    /* identical to box height */
    border: 0px;
    padding-left: 10px;
    padding-bottom: 60px;

    color: #FFFFFF;
}

#krobpum{
    position: relative;
    margin-left: 30px;
}



#roob:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.blue:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.blue:active {
    filter: grayscale(70%)brightness(150%);
}

.yellow:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.yellow:active {
    filter: grayscale(50%)brightness(105%);
}
#pum:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#username {
    position: absolute;
    width: 547px;
    height: 52px;
    left: 574px;
    top: 50px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;

    color: #FFFFFF;
    text-align: right;
}

#roob {
    cursor: pointer;
    position: absolute;
    width: 71px;
    height: 73px;
    left: 1142px;
    top: 37px;

    border-radius: 217px;
    background: #c0c8f7;
}


#home {
    position: relative;
    left: 194px;
    top: 62px;
    width: 38px;
    height: 42px;
}

#bed {
    position: relative;
    top: 2px;
    left: 25px;
    width: 72px;
    height: 88px;
}

#calendar1 {
    position: relative;
    width: 55px;
    height: 60px;
    left: 22px;
    top: 9px;
}

#person {
    position: relative;
    width: 34px;
    height: 43px;
    left: 27px;
    top: 14px;
}

#patitin {
    position: relative;
    width: 120px;
    height: 43px;
    left: 33px;
    top: -17px;
}

input[type="date"] {

    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}

input[type="date"]:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#weAreTeam {
    position: absolute;
    top: 150px;
    left: 1100px;
    background-color: black;
    height: 120px;
    cursor: zoom-in;
    border-radius: 15px;
}

#groupName {
    position: absolute;
    top: 240px;
    left: 1020px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    color: #FFFFFF;
}