/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */
#sifah{
    /* Rectangle 1 */
    position: absolute;
    width: 1280px;
    height: 148px;
    left: 0px;
    top: 0px;

    background: #4399FF;
}
#hua{
    position: absolute;
    width: 261.02px;
    height: 60px;
    left: 22px;
    top: 24px;
    cursor: pointer;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}

#yellowbox{
    position: absolute;
    width: 845px;
    height: max-content;
    left: 210px;
    top: 300px;

    background: #FFEB85;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
#bluebox{
    position: absolute;
    width: 301px;
    height: 82px;
    left: 210px;
    top: 240px;
    
    background: #4399FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#whitebox{
    position: relative;
    width: 94%;
    height: 94%;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #1a3244;
    margin: 3%;
    
}

#save{
    position: absolute;
    width: 107px;
    height: 45px;
    left: 1011px;
    top: 1330px;
    padding: 0;
    border: none;
    background: none;
    background: #4399FF;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;

}
#personal{
    position: absolute;
    width: 381px;
    height: 100px;
    left: 240px;
    top: 228px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    
    color: #FFFFFF;
}
#delete{
    position: absolute;
    width: 200px;
    height: 60px;
    border: none;
    background: none;
    cursor: pointer;
    top: 200px;
    left: 855px;
    background: red;
    border-radius: 10px;
    position: absolute;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    color: #FFFFFF;
}
#logout{
    position: absolute;
    width: 161px;
    height: 49px;
    left: 997px;
    top: 1052px;


    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    

    background: #4399FF;
    border-radius: 10px;
    width: 161px;
    height: 49px;
    left: 1041px;
    top: 1366px;
            
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    
    color: #FFFEFE;
    
}
.reset{
    position: absolute;
        
    width: 209px;
    height: 29px;
    left: 1003px;
    top: 1074px;
    
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    
    color: #D9D9D9;}
#idBook{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 418px;
    top: 357px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #1a3244;

}
#hotelName{

    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 472px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #1a3244;

}
#konJong{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 595px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #1a3244;

}
#JumnuonKon{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 725px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #1a3244;
}
#raka{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 855px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #1a3244;
}
#people{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 985px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #1a3244;
}
#price{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 1125px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #1a3244;
}
#image{
    position: absolute;
    width: 580px;
    height: 38px;
    left: 422px;
    top: 1260px;
    border: none;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #1a3244;
}
#blankk{
    position: absolute;
    width: 161px;
    height: 49px;
    left: 997px;
    top: 1100px;
}

#whiteblock{
    position: absolute;
    width: 799px;
    height: 423px;
    left: 371px;
    top: 431px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    visibility: hidden;
}
#bady{
    position: relative;
    left: -150px;
}
input[type="button"]:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

input[type="button"]:active {
    filter: grayscale(70%)brightness(150%);
}
#hua:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;   
}
#home{
    position: relative;
    left: 230px;
    top: 62px;
    width: 38px;
    height: 42px;
}
#person{
    position: relative;
    width: 25px;
    height: 34px;
    left:27px;
    top: 14px;
}
#username{
    position: absolute;
    width: 547px;
    height: 52px;
    left: 574px;
    top: 20px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 45px;

color: #FFFFFF;
text-align: right;
}

#roob{
    cursor: pointer;
    position: absolute;
    width: 71px;
    height: 73px;
    left: 1142px;
    top: 37px;

    border-radius: 217px;
    background: #c0c8f7;
}

#roob:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
#hua:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;   
}

#regis{
    /* Component 2 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 886px;
    top: 38px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;
    background: #FFEB85;
    border-radius: 20px;
}
#signin{
    /* Component 3 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 1067px;
    top: 38px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;

    background: #FFEB85;
    border-radius: 20px;
}
.blue:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.blue:active {
    filter: grayscale(70%)brightness(150%);
}
.yellow:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.yellow:active {
    filter: grayscale(50%)brightness(105%);
}

#whitebox .info {
    position: absolute;
    right: 0px;
    display: inline-block;
    padding-left: 100px;
    text-align: right;
    right: 50px;
    margin-top: 33px;
}
#whitebox .head {
    position: relative;
    font-size: 30px;
    padding-left: 30px;
    display: inline-block;
}
.line {
    position: relative;
    width: 94%;
    left: 3%;
    height: 2px;
    background-color: rgb(226, 226, 226);
}
#bgall {
    position: relative;
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 1850px;

}

#all2 {
    background-color: #FFEB85;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 330px;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    color: #1A3244;
}
#backall, #confirmall {
    position: relative;
    
    top: 50px;
    left: 24%;
    height: 45px;
    width: 200px;
    margin-top: 50px;
    padding: 0px 20px 0px 20px; 
    background: #4399FF;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    border: 0px;
    color: #FFFFFF;   
}
#confirmall{
    background-color: red;
}
#all input[type="button"]:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    cursor: pointer;
}
.bgWhiteAll {
    position: absolute;
    background-color: white;
    height: 95%;
    width: 97%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#personal{
    position: absolute;
    width: 381px;
    height: 55px;
    left: 390px;
    top: 180px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}