@media only screen and (max-width: 1920px) and (min-width: 1920px){
    body{
        position: relative;
        left: 17%;
    }
}
*{
    margin: 0;
}

#boxandtext1{
    display: flex;
    justify-content: space-between;
}
#boxandtext{
    display: flex;
    
}

#search1{
    text-align: center;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 40px;
    line-height: 43px;
    border: none;
    color: #1A3244;
}
#dropbox{
    margin-top: 50px;
    margin-left: 20px;
}
#textbox{
    margin-left: 60px;
    border-radius: 25px;
    border: none;
}#textbox1{
    margin-left: 60px;
    border-radius: 25px;
    border: none;
}
#searchbutton{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #1A3244;
    background-color: #3ac9b8;
    border-radius: 10%;
    margin-left: 380px;
}

#box{
    display: grid;
    justify-content: left;
}
#box1{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: #c0c8f7;
    
    
}
#to{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 55px;
}

#sifah{
    /* Rectangle 1 */
    position: relative;
    width: 1280px;
    height: 1000px;
    left: 0px;
    top: 0px;

    background: #2a9d8f;
}
#hua{
    position: absolute;
    width: 261.02px;
    height: 60px;
    left: 22px;
    top: 24px;
    cursor: pointer;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}
#regis{
    /* Component 2 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 886px;
    top: 38px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;
    background: #FFEB85;
    border-radius: 20px;
}

#groupsifah2{
    position: absolute;
    top: -70px;
}


#signin{
    /* Component 3 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 1067px;
    top: 38px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;

    background: #FFEB85;
    border-radius: 20px;
}
#sifah2{
    position: relative;
    width: 1200px;
    height: 700px;
    left: 38px;
    top: 254px;

    background: #FFEB85;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
#where{
    position: absolute;
    width: 328px;
    height: 63px;
    left: 90px;
    top: 297px;
    border: 0px;

    background: #FFFFFF;
    border-radius: 7px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

}
#w{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding-left: 23%;
    background: #FFFFFF;
    border-radius: 7px;
    border: 0px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3448;
}
#w::placeholder{
    position: absolute;
    left: 23%;
    top: 34.09%;
    border-radius: 7px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3244bd;
}
#calendar{
    position: absolute;
    width: 329px;
    height: 63px;
    left: 90px;
    top: 396px;

    background: #FFFFFF;
    border-radius: 7px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
#guest{
    position: absolute;
    width: 329px;
    height: 63px;
    left: 90px;
    top: 495px;
    background: #FFFFFF;
    border-radius: 7px;
}
#people{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding-left: 23%;

    background: #FFFFFF;
    border-radius: 7px;
    border: 0px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3448;
}
#people::placeholder{
    position: absolute;
    left: 23%;
    top: 30%;
    

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3244bd;
}
#search{
    position: absolute;
    width: 125px;
    height: 60px;
    left: 190px;
    top: 610px;
    background: #2a9d8f;
    border-radius: 25px;

    border: 0px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;

    color: #1A3244;
}
#block{
    position: relative;
    width: 716px;
    height: 213px;
    left: 300px;
    top: 400px;
    background: #FFEB85;
    border-radius: 15px;
    cursor: pointer;
}

#roob{
    cursor: pointer;
    position: relative;
    width: 71px;
    height: 73px;
    left: 1142px;
    top: 37px;

    border-radius: 217px;
    background: #c0c8f7;
}


#roop{
    position: absolute;
    left: 2.79%;
    right: 62.43%;
    top: 8.04%;
    bottom: 8.54%;
    background: #FFFFFF;
    border-radius: 15px;
}
#name{
    position: absolute;
    width: 400px;
    height: 45px;
    left : 281px;
    top: 2px;
    border: none; 
    background: #FFFFFF;
    border-radius: 17px;  
    
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 44px;
}

#lowname{
    position: relative;
    width: 400px;
    height: 174px;
    left: 281px;
    top: 20px;
    border: none;
    background: #FFFFFF;
    border-radius: 15px;
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    
    
}

/* #lowerblock{
    position: absolute;
    width: 716px;
    height: 212px;
    left: 511px;
    top: 521px;
    background: #FFEB85;
    border-radius: 15px;
} */
.blue:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.blue:active {
    filter: grayscale(70%)brightness(150%);
}
.yellow:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.yellow:active {
    filter: grayscale(50%)brightness(105%);
}
#searchbutton:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}


#asd{
    margin-top: -140px;
}
#tumnang{
    position: relative;
    width: 330px;
    height: 30px;
    left: 320px;
    top: 0px;
    border: none;
    background: white;
    border-radius: 15px;
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    
}

#raka{
    position: relative;
    width: 330px;
    height: 30px;
    left: 320px;
    top:30px;
    border: none;
    background: white;
    border-radius: 15px;
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}
#konPak{
    position: relative;
    width: 330px;
    height: 30px;
    left: 320px;
    top: 55px;
    border: none;
    background: white;
    border-radius: 15px;
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}

#username{
    position: absolute;
    width: 547px;
    height: 52px;
    left: 574px;
    top: 20px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 45px;

color: #FFFFFF;
text-align: right;
}

#roob:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
#hua:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;   
}
#home{
    position: relative;
    left: 200px;
    top: 25px;
    width: 38px;
    height: 42px;
}

#bed{
    position: relative;
    top:-3px;
    left:15px;
    width: 52px;
    height: 73px;
}

#calendar1{
    position: relative;
    width: 55px;
    height: 60px;
    left:-72px;
    bottom: 395px;
}

#patitin{
    position: relative;
    width: 120px;
    height: 43px;
    left:-70px;
    bottom: 419px;
}
input[type = "date"]{
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
}

input[type = "date"]:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

#person{
    position: relative;
    width: 25px;
    height: 34px;
    left:27px;
    top: 14px;
}
.textSearch {
    position: absolute;
    top: 300px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 48px;
}
#sorry {
    left: 530px;
    color: rgba(255, 0, 0, 0.695);
}
#loading {
    left: 830px;
}